<a href="https://colab.research.google.com/github/jeyakartheesan/PythonProgram/blob/master/class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **FUNCTION**

FUNCTION and Function call

In [ ]:
"""
def functon_name(agrumentsn):
  print('statement)
"""


def hello():
  print('HelloWorld')
hello()

HelloWorld

Arguments

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

Arbitrary Arguments, *args

In [ ]:
def my_function(*kids):
  print(f'kids name list{kids}')
  print("The youngest child is{} " .format(kids))
  print('The child is',kids[1])

my_function("Emil", "Tobias", "Linus")

kids name list('Emil', 'Tobias', 'Linus')
The youngest child is('Emil', 'Tobias', 'Linus')
The child is Tobias

Keyword Arguments

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

Arbitrary Keyword Arguments, **kwargs

In [ ]:
def my_function(**kid):
  print(kid)
  print("His last name is " ,kid["fname"])

my_function(fname = "Tobias", lname = "Refsnes")

{'fname': 'Tobias', 'lname': 'Refsnes'}
His last name is  Tobias

Default Parameter Value

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

Return Values

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

Multivalues Return

In [ ]:
def ret():
  a=10
  b=20
  return a,b
print("hello")

c,d=ret()
print(c,d)

hello
10 20

In [ ]:
def fun(): 
	str = "jk"
	x ,y=30,20
	return str, x,y; # Return tuple, we could also 
					# write (str, x,y) 


str1, x1 ,y1= fun() # Assign returned tuple 
print(str1) 
print(x1)
print(y1)

jk
30
20

Pass

In [ ]:
def fun():
  pass
print(fun())

None

Compostion Functions

In [ ]:

def composel(f,g):
  return lambda x:f(g(x))
def double(x):
  return x*2
def inc(x):
  return x+1
IncAndDouble=composel(double,inc)
x=IncAndDouble(10)
print(x)

22

In [ ]:
def dec(x):
  return x-1
IncDobleandDec=composel(composel(double,inc),dec)
In=composel(dec,inc)
print(In(10))
IncDobleandDec(10)

10

20

In [ ]:
import functools
def compose(*functions):
  return functools.reduce(lambda f,g:lambda x:f(g(x)),functions,lambda x:x)
IncDobleandDec=compose(dec,double,inc)
IncDobleandDec(10)

21

Recursive Functions

In [ ]:
def factorial(num):
  if num==1:
    return 1
  else:
    return (num * factorial(num-1))
x=factorial(5)
print(x)

120

Anonymous or Lambda Function

In [ ]:
value = lambda num:num*2
print(value(2))

4

Lambda Function With Filter

In [ ]:
old_list=[21,25,24,27,28,31,33,42]
currentList=list(filter(lambda num:num %2==0,old_list))
print(currentList)
print(old_list)

[24, 28, 42]
[21, 25, 24, 27, 28, 31, 33, 42]

Lambda Function With Map

In [ ]:
old_list=[21,25,24,27,28,31,33,42]
currentList=list(map(lambda num:num *2,old_list))
print(currentList)
print(old_list)

[42, 50, 48, 54, 56, 62, 66, 84]
[21, 25, 24, 27, 28, 31, 33, 42]

Build In Functions

In [ ]:
a=-10
print('abs value is {}'.format(abs(a)))

abs value is 10

In [ ]:
import math as jk

In [ ]:
print(jk.cos(180))

-0.5984600690578581

In [ ]:
def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    def do_global():
        global spam
        spam = "global spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [ ]:
class demo:
  def add(self,a,b):
    print(a+b)
demo().add(5,4)

9