<a href="https://colab.research.google.com/github/jeyakartheesan/PythonProgram/blob/master/class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Class and Object

In [ ]:
### Class Syntax  ####

""""
class className:
  #Variable and methods
"""

class Demo:
  print('Hello World')
a=Demo
a()
print(type(Demo()))

Hello World
<class '__main__.Demo'>

In [ ]:
class Function:
  def fun1():
    print('Hello World')
Function.fun1()

Hello World

In [ ]:
class Function:
  def fun1(self):
    print('Hello World')
class d:
  pass
Function.fun1(d)

Hello World

In [ ]:
class Fun1:
  def fun(self):
    print('Hello World')
class Fun2:
  def fun(self):
    print('JK')
Fun1.fun(Fun2)
Fun2.fun(Fun1)

Hello World
JK

In [ ]:
class Fun:
  def a():
    print('jk')
  def __init__(self): 
    print('welcome')
    Fun.a()
    
    
  
x=Fun()
Fun.a()

welcome
jk
jk

In [ ]:
class Fun:
  x=10
  def __init__(self,name):
    print(f'your name is {name}')
x=Fun(['jk','Good'])

your name is ['jk', 'Good']

## Inheritance

In [ ]:
class Fun():
  def parent(name):
    print("Parent call Function name is",name)
class Fun2(Fun):
  def child(name):
    print('Child call Function name is ',name)

In [ ]:
obj=Fun2.parent('jk')
print(obj)
obj=Fun2.child('jivitha')

Parent call Function name is jk
None
Child call Function name is  jivitha

In [ ]:
class Fun(Fun2):
  def parent(name):
    print("Parent call Function name is",name)
class Fun2(Fun):
  def child(name):
    print('Child call Function name is ',name)

In [ ]:
obj=Fun2.parent('jk')
obj=Fun.child('jivitha')

Parent call Function name is jk
Child call Function name is  jivitha

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname
  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()
print(Person('jk1','jk2').firstname,Person('jk1','jk2').lastname)

John Doe
jk1 jk2

In [ ]:
class Fun:
  n='jkjk'
  def __init__(self):
    self.name='jk'
    self.age=20
print(f'Name : {Fun().name} \n Age : {Fun().age} outer : {Fun.n}')

Name : jk
 Age : 20 outer : jkjk

In [ ]:
class Parent:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def call(self):
    print(f'Name is : {self.name} and age is : {self.age}')
class Child(Parent):
  def __init__(self,name,age):
    Parent.__init__(self,name,age)
x=Child('jk',20)
x.call()

Name is : jk and age is : 20

In [ ]:
class Parent:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def call(self):
    print(f'Name is : {self.name} and age is : {self.age}')
class Child(Parent):
  def __init__(self,name,age):
    super().__init__(name,age)
x=Child('jk',20)
x.call()

Name is : jk and age is : 20

In [ ]:
class demo:
  pass
x=demo
x.a=10
print(x.a)

10

In [ ]:
print(demo)
del demo

<class '__main__.demo'>

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("jk", "kj", 2019)
x.welcome()
x.printname()

Welcome jk kj to the class of 2019
jk kj

In [ ]:
class Class1: 
	def m(self): 
		print("In Class1") 
		
class Class2(Class1): 
	def m(self): 
		print("In Class2") 

class Class3(Class1): 
	def m(self): 
		print("In Class3") 
		
class Class4(Class2, Class3): 
	pass
	
obj = Class4() 
obj.m()

In Class2

In [ ]:
class Class1: 
	def m(self): 
		print("In Class1") 
		
class Class2(Class1): 
	def m(self): 
		print("In Class2") 

class Class3(Class1): 
	def m(self): 
		print("In Class3")	 
	
class Class4(Class2, Class3): 
	def m(self): 
		print("In Class4") 

obj = Class4() 
obj.m() 

Class2.m(obj) 
Class3.m(obj) 
Class1.m(obj)

In Class4
In Class2
In Class3
In Class1

In [ ]:
class Class1: 
	def m(self): 
		print("In Class1") 
	
class Class2(Class1): 
	def m(self): 
		print("In Class2") 
		Class1.m(self) 

class Class3(Class1): 
	def m(self): 
		print("In Class3") 
		Class1.m(self) 
	
class Class4(Class2, Class3): 
	def m(self): 
		print("In Class4") 
		Class2.m(self) 
		Class3.m(self) 
	
obj = Class4() 
obj.m()

In Class4
In Class2
In Class1
In Class3
In Class1

In [ ]:
class Class1: 
	def m(self): 
		print("In Class1") 

class Class2(Class1): 
	def m(self): 
		print("In Class2") 
		super().m() 

class Class3(Class1): 
	def m(self): 
		print("In Class3") 
		super().m() 

class Class4(Class2, Class3): 
	def m(self): 
		print("In Class4") 
		super().m() 
	
obj = Class4() 
obj.m()

In Class4
In Class2
In Class3
In Class1