<a href="https://colab.research.google.com/github/jeyakartheesan/PythonProgram/blob/master/class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String

In [ ]:
string='i am jeya kartheesan'

print(string.count('a'))

4

In [ ]:
string=" Hello wordl"
string1="5"
i=string
print("""
isalpha :: {}

isdecimal :: {}
isidentifier :: {}
islower :: {}
isnumber :: {}
isprintable :: {}
isspace :: {}
istitle :: {}
isupper :: {}
""".format(string.isalpha(),string.isdecimal(),i.isidentifier(),string.islower(),string1.isnumeric(),string.isprintable(),string.isspace(),string.istitle(),string.isupper()))

isalpha :: False

isdecimal :: False
isidentifier :: False
islower :: False
isnumber :: True
isprintable :: True
isspace :: False
istitle :: False
isupper :: False

In [ ]:
string='helLo world'
print('''
Title :{}
Captilize ::{}
lower ::{}
casefold ::{}
endswith::{}
stratswith::{}
find::{}
'''.format(string.title(),string.capitalize()
           ,string.lower(),string.casefold(),string.endswith('d'),string.startswith('h'),string.find('world')))

Title :Hello World
Captilize ::Hello world
lower ::hello world
casefold ::hello world
endswith::True
stratswith::True
find::6

In [ ]:
srting="hi hello"
print("""
split :::{}
replace ::: {}
""".format(string.split(' '),string.replace('hi','welcome')))

split :::['helLo', 'world']
replace ::: helLo world

# List

In [ ]:
listInt=[1,2,3]
listFloat=[1.2,1.3,1.4]
listString=['String','hello','bye']
listComplex=[1+3j,2+5j]
listBoolean=[True,False]
listChar=['a','b','c']
listList=[[1,2,3],[1,2,3]]
listTuple=[(1,2,3),(1,2,3)]
listSet=[{1,2},{4,5}]
listDict=[{'name':'jk','age':20},{'name':'kartheesn','age':20}]


###print LIST Statements
print("""
ListInt :: {}
ListFloat :: {}
ListString :: {}
ListComplex :: {}
ListBoolean :: {}
ListChar :: {}
ListList :: {}
ListTuple :: {}
ListSet ::{}
ListDict :: {}
""".format(listInt,listFloat,listString,listComplex,listBoolean,listChar,listList,listTuple,listSet,listDict))

ListInt :: [1, 2, 3]
ListFloat :: [1.2, 1.3, 1.4]
ListString :: ['String', 'hello', 'bye']
ListComplex :: [(1+3j), (2+5j)]
ListBoolean :: [True, False]
ListChar :: ['a', 'b', 'c']
ListList :: [[1, 2, 3], [1, 2, 3]]
ListTuple :: [(1, 2, 3), (1, 2, 3)]
ListSet ::[{1, 2}, {4, 5}]
ListDict :: [{'name': 'jk', 'age': 20}, {'name': 'kartheesn', 'age': 20}]

# operation

In [ ]:

list1=[]
list1.append(5)
print(list1)
list1.append(10)
print(list1)
list1.insert(0,10)
print(list1)
a=list1.index(5)
print(a)
list1.remove(10)
print(list1)
list1.extend((5,4,2,7,9,18))
print(list1)
list1.sort()
list2=list1.copy()
print(list1)
list1.reverse()
print(list1)
print(list2)
list1.pop()
print(list1)
list1.clear()
print(list1)
print(list2.count(5))

[5]
[5, 10]
[10, 5, 10]
1
[5, 10]
[5, 10, 5, 4, 2, 7, 9, 18]
[2, 4, 5, 5, 7, 9, 10, 18]
[18, 10, 9, 7, 5, 5, 4, 2]
[2, 4, 5, 5, 7, 9, 10, 18]
[18, 10, 9, 7, 5, 5, 4]
[]
2

# Tuple

In [ ]:
tuple1=(1,2,3,3,4,5,6,5,5)
print(tuple1.count(5))
print(tuple1.index(4))

3
4

# Set

In [ ]:
set1={1,2,3,5,4,1}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
###operations of SET

set1={1,2,3,1,2,3}
print(set1)
set1.add(4)
print(set1)
set2=set1.copy()
print(set2)
set2.add(8)
set2.add(7)
print(set2)
set3=set2.difference(set1)
print(set3)
set2.difference_update(set1)
print(set2)
set3.discard(8)
print(set3)
set
print(f"set1 :: {set1} set2 :: {set2}")
set2.add(1)
set2.add(4)
set3=set2.intersection(set1)  ##COMMOM VALUE
print(set3)
set2.intersection_update(set1)
print(set2)

##both set are diffents to returns True otherwise return False
set4={1,3,5}
set5={2,4,6}
print(set4.isdisjoint(set5))

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 7, 8}
{8, 7}
{7, 8}
{7}
set1 :: {1, 2, 3, 4} set2 :: {7, 8}
{1, 4}
{1, 4}
True

In [ ]:
### subset 

set1={1,2,3,4,5,6,7,8}
set2={4,5,6}
print(set2.issubset(set1))

True

In [ ]:
### uppersubset
set1={1,2,3,4,5,6,7,8}
set2={4,5,6}
print(set1.issuperset(set2))

True

In [ ]:
## pop and Remove

set1={1,2,3,4,5,5,6}
print(set1)
set1.pop()
print(set1)
set1.remove(4)
print(set1)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
{2, 3, 5, 6}

In [ ]:
###Symmetric Difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(z)

{'cherry', 'microsoft', 'banana', 'google'}

In [ ]:
###update Symmetric Difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [ ]:
###UNION
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'microsoft', 'google', 'apple', 'banana'}

In [ ]:
###UPDATE

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'microsoft', 'google', 'apple', 'banana'}

# **DICTIONARY**

In [ ]:
dict1={'name':'jk','age':20,'degination':'student'}
print(dict1)

{'name': 'jk', 'age': 20, 'degination': 'student'}

In [ ]:
###Keys
print(dict1.keys())

dict_keys(['name', 'age', 'degination'])

In [ ]:
###FromKeys

x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)
###NONE value
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}
{'key1': None, 'key2': None, 'key3': None}

In [ ]:
###items
print(dict1.items())

dict_items([('name', 'jk'), ('age', 20), ('degination', 'student')])

In [ ]:
##values

print(dict1.values())

dict_values(['jk', 20, 'student'])

In [ ]:
##get
print(dict1.get('age'))

20

In [ ]:
##copy

dict2=dict1.copy()
print(dict2)

{'name': 'jk', 'age': 20, 'degination': 'student'}

In [ ]:
### setdefault

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)
print(car)

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
###update

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [ ]:
###pop and pop item

p=car.pop('year')
print(p)
print(car)

###pop item
p=car.popitem()
print(p)
print(car)

1964
{'brand': 'Ford', 'model': 'Mustang', 'color': 'White'}
('color', 'White')
{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
###clear

car.clear()
print(car)

{}

In [ ]:
print(dict1)
for i in dict1:
  print("""
  keys :: {}  values  :: {}
  """.format(i,dict1[i]))

{'name': 'jk', 'age': 20, 'degination': 'student'}

  keys :: name  values  :: jk


  keys :: age  values  :: 20


  keys :: degination  values  :: student

In [ ]:
for i in dict1.keys():
  print(i)

name
age
degination

In [ ]:
for i in dict1.values():
  print(i)

jk
20
student